@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'primeicons/primeicons.css';

:root {
  --nav-height: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.component-container {
  width: 100%;

  .title {
    font-size: 2rem;
    text-align: center;
  }
}

.section {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}
